@font-face {
    font-family: mars;
    src: url(fonts/Mars.ttf);
}
h1{
    font-family: mars;
    color: aliceblue;
}
.carousel-item{
    height:90vh;
    width: 100vw;
    background-color: black;
    background-position: center;
    background-size: cover;

}