@font-face {
    font-family: mars;
    src: url(fonts/Mars.ttf);
}
body{
    background-color: #3C4048;
}
h2{
    font-family: mars;
    color: aliceblue;
}
h1{
    font-family: mars;
    color: aliceblue;
}
p{
    color: aliceblue;
}
/* Estilos del titulo*/
.title{
    display: flex;
    align-items: baseline;
}
.nav{
    color: aliceblue;
}
.navbar-toggler-icon{
    background-color:aliceblue;
    border-radius: 5px;
}
/* Estilos para el carousel de fotos*/
.carousel-item{
    height:85vh;
    width: 100vw;
    background-color: black;
    background-position: center;
    background-size: cover;
}
/* Estilos para cards del inicio*/
.card{
    width: 25vw;
    background-color: #EAEAEA;
    opacity: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@media(width < 960px) {
  .card {
    width: 35vw;
  }
}
@media(width < 730px) {
  .card {
    width: 60vw;
  }
}
.card:hover{
    opacity: 100%;
    transition: 1s;
}
.card-img-top{
    height: 15rem;
}
/* Estilos de la pagina moon  y mars html*/
.bannerMoon-Mars{
    height: 88vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.5px);

    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCover{
  height: 200vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.textB{
    font-size: 15vw;
}
.modal-header{
  background-color:#3C4048;
}
.modal-body{
  background-image: url(img/starry-night-sky.jpg);
  background-size: cover;
}
.modal-footer{
  background-color:#3C4048;
}

.Iam {
  font: normal 30px mars;
  color: #999;
}
.Iam p {
  height: 30px;
  float: left;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 40px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
